@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    scroll-behavior: smooth;
  } */

  @font-face {
    font-family: 'OPTIBerling Agency';
    src: local('OPTIBerling-Agency'), local('optiberling-agency'),
      url('/fonts/OPTIBerling-Agency.otf');
    font-weight: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'OPTIBerling Agency';
    src:
      local('OPTIBerling-Agency'),
      local('optiberling-agency'),
      url('/fonts/OPTIBerling-Agency-500.otf') format('opentype');
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: 'ABC Arizona Serif';
    src: url(/fonts/ABCArizonaSerif-Light-Trial.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: 'ABC Arizona Serif';
    src: url(/fonts/ABCArizonaSerif-LightItalic-Trial.woff2) format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
  }

  @font-face {
    font-family: ABC Arizona Sans;
    src: url(/fonts/ABCArizonaSans-Light-Trial.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-abc-arizona-serif font-medium;
  }
  body {
    @apply text-dark-gunmetal;
  }
}

@layer utilities {
  .head-5xl {
    @apply text-[clamp(2.25rem,6vw+1rem,7.5rem)] font-medium leading-none tracking-normal max-md:tracking-[0.72px];
  }
  .head-4xl {
    @apply text-head-2 font-medium;
  }
  .head-3xl {
    @apply text-[clamp(1.25rem,2vw+1rem,2.25rem)];
  }
  .head-2xl {
    @apply text-head-5 text-dark-gunmetal lg:text-head-4;
  }
  .head-xl {
    @apply text-[clamp(1.5rem,2vw+1rem,2rem)] leading-[120%] tracking-[0.48px] lg:leading-[115%] lg:tracking-[0.64px];
  }
  .head-lg {
    @apply text-head-6;
  }

  .head-md {
    @apply text-head-8 font-medium md:text-head-7 md:font-bold;
  }
  .head-sm {
    @apply text-head-8;
  }

  .body-1 {
    @apply text-[14px] md:text-body-1;
  }
  .body-2 {
    @apply text-[12px] md:text-body-1;
  }

  .mb-section {
    @apply mb-sm md:mb-[80px] xl:mb-xl;
  }
  .py-section {
    @apply py-sm md:py-[80px]  xl:py-xl;
  }
  .px-section {
    @apply max-lg:px-[1.25rem] lg:pl-[16rem] lg:pr-[5rem];
  }

  .preview-h-1 {
    @apply text-[2rem] font-medium tracking-[0.04rem];
  }
  .preview-h-2 {
    @apply text-[1.2rem] font-medium tracking-[0.025rem] md:text-[1.25rem];
  }
  .preview-h-3 {
    @apply text-[1.25rem] tracking-[0.025rem];
  }
  .preview-h-4 {
    @apply text-[1rem] font-medium tracking-[0.02rem];
  }
  .preview-b-light {
    @apply text-[0.75rem] font-light tracking-[0.015rem];
  }
  .caption {
    @apply mt-[0.69rem] block pl-[0.62rem] text-[0.75rem] font-light text-sonic-silver lg:mt-[1.22rem] lg:pl-[1.88rem] lg:text-[0.875rem];
  }
}
