@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

/* Fonts */
@layer base {
  @font-face {
    font-family: 'OPTIBerling Agency';
    src: local('OPTIBerling-Agency'), local('optiberling-agency'),
      url('/fonts/OPTIBerling-Agency.otf');
    font-weight: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'OPTIBerling Agency';
    src: local('OPTIBerling-Agency'), local('optiberling-agency'),
      url('/fonts/OPTIBerling-Agency-500.otf') format('opentype');
    font-weight: 500;
    font-display: swap;
  }
}
