@import '@fontsource/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'OPTIBerling-Agency';
    src:
      url('/fonts/OPTIBerling-Agency.ttf.woff') format('woff'),
      url('/fonts/OPTIBerling-Agency.ttf.svg#OPTIBerling-Agency') format('svg'),
      url('/fonts/OPTIBerling-Agency.ttf.eot'),
      url('/fonts/OPTIBerling-Agency.ttf.eot?#iefix')
        format('embedded-opentype');
  }

  html,
  body {
    overscroll-behavior: none;
    /* overflow-x: hidden; */
  }
  body {
    @apply text-dark-gunmetal;
    width: 100%;
    max-width: 100vw;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply !font-optiberling-agency font-medium;
  }
}

@layer utilities {
  /* HEADINGS */
  .head-1 {
    @apply text-[clamp(2.25rem,6vw+1rem,7.5rem)] font-medium leading-none tracking-normal  max-md:tracking-[0.72px];
  }
  .head-2 {
    @apply text-[clamp(2rem,3vw+1rem,3.125rem)] leading-[115.5%] tracking-[0.04rem] md:leading-[120%] md:tracking-[0.0625rem];
  }
  .head-3 {
    @apply text-[clamp(1.25rem,2vw+1rem,2.25rem)] font-medium;
  }
  .head-4 {
    @apply text-[2rem] font-medium leading-[115.5%] tracking-[0.04rem];
  }
  .head-5 {
    @apply text-[1.75rem] font-medium leading-[120%] tracking-[0.035rem];
  }
  .head-5-m {
    @apply text-[1.5rem] font-medium leading-[120%] tracking-[0.03rem];
  }
  .head-6 {
    @apply text-[1.25rem] font-medium leading-[128.5%] tracking-[0.04rem];
  }
  .head-7 {
    @apply text-[1.125rem] font-bold tracking-[0.05625rem];
  }
  .head-8 {
    @apply text-[1rem] font-medium tracking-[0.02rem];
  }
  .head-xl {
    @apply text-[clamp(1.5rem,2vw+1rem,2rem)] leading-[120%] tracking-[0.48px] lg:leading-[115%] lg:tracking-[0.64px];
  }

  /* BODY */
  .body-semibold {
    @apply font-inter text-[1rem] font-semibold leading-[170%];
  }
  .body-regular {
    @apply font-inter text-[1rem] leading-[120%];
  }
  .body-light {
    @apply font-inter text-[1rem] font-light leading-[170%];
  }
  .body-light-m {
    @apply font-inter text-[0.875rem] font-light leading-[165%];
  }

  /* TITLE */
  .title-regular {
    @apply font-inter text-[0.875rem] font-normal leading-[120%];
  }
  .title-light {
    @apply font-inter text-[0.875rem] font-light leading-[120%];
  }
  .title-semi-bold {
    @apply font-inter text-[0.625rem] font-semibold leading-[120%];
  }

  /* SUB TITLE */
  .sub-title-regular {
    @apply text-[0.8125rem] leading-[120%] tracking-[0.01625rem];
  }
  .sub-title-regular-2 {
    @apply text-[0.75rem] leading-[120%] tracking-[0.015rem];
  }
  .sub-title-medium {
    @apply text-[0.75rem] font-medium leading-[120%] tracking-[0.015rem];
  }
  .sub-title-light {
    @apply text-[0.75rem] font-light leading-[120%] tracking-[0.015rem];
  }

  /* BUTTON */
  .button-medium {
    @apply text-[0.84375rem] font-medium leading-[120%] tracking-[0.01688rem];
  }

  /*  */
  .body-2 {
    @apply text-[12px] md:text-body-1;
  }

  .mb-section {
    @apply mb-sm md:mb-[5rem] xl:mb-xl;
  }

  .mt-section {
    @apply mt-sm md:mt-[5rem] xl:mt-xl;
  }
  .pb-section {
    @apply pb-sm md:pb-[5rem] xl:pb-xl;
  }
  .pt-section {
    @apply pt-sm md:pt-[5rem] xl:pt-xl;
  }

  .py-section {
    @apply py-[1.875rem] md:py-[3.75rem] xl:py-[0rem];
  }
  .my-section {
    @apply my-sm md:my-[5rem] xl:my-xl;
  }

  .px-section {
    @apply max-lg:px-[1.25rem] lg:pl-[16rem] lg:pr-[5rem];
  }

  .container-primary {
    @apply mx-auto w-full max-lg:px-[1rem] lg:w-[calc(100%-22rem)] 2xl:w-[min(calc(100%-32rem),82.5rem)];
  }

  /* Preview */
  .preview_container {
    @apply flex h-[100dvh] w-full flex-col bg-white max-lg:mt-[1rem] max-lg:rounded-t-[0.94rem] lg:flex-row;
  }
  .preview_content_wrapper {
    @apply flex-[100%] overflow-scroll lg:flex-[calc(100%-600px)] xl:flex-[calc(100%-785px)];
  }

  .preview_content_container {
    @apply px-[1.25rem] pb-[5rem] lg:px-[4rem] lg:pb-[6rem] lg:pt-[6rem] 2xl:px-[8rem];
  }

  .preview-h-1 {
    @apply text-[2rem] font-medium leading-[115.5%] tracking-[0.04rem];
  }
  .preview-h-2 {
    @apply text-[1.25rem] font-medium leading-[128.5%] tracking-[0.025rem];
  }
  .preview-h-3 {
    @apply text-[1.25rem] tracking-[0.025rem];
  }
  .preview-h-4 {
    @apply text-[0.938rem] font-light leading-[1.5];
  }
  .preview-b-light {
    @apply text-[0.75rem] font-light tracking-[0.015rem];
  }
  .caption {
    @apply sub-title-light md:title-light mt-[0.69rem] block  pl-[0.62rem] font-light text-sonic-silver lg:mt-[1.22rem] lg:pl-[1rem];
  }

  /* TEXT SHADOWS */
  .shadow-text-title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
  }
  .shadow-text-subtitle {
    text-shadow: 0px 3px 1px rgba(0, 0, 0, .25);
  }
  .shadow-text-discover {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, .25);
  }
}
